{% extends 'base.html'%}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="container py-5">
    <div class="card mx-auto rounded-0 bg-light" style="width: 35rem;">
      <div class="card-body bg-light" style="border: 1px solid #89878883;">
        <h2 class="my-2"><i class="fa-solid fa-plus"></i> Add a Recipe</h2>
        <p class="mb-4" style="font-size: 14px;">Uploading personal recipes is easy! Add yours to your favorites,
          share with friends, family, or the
          Allrecipes
          community</p>
        <hr>
        <form action="{% url 'addRecipe' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">

            <!-- recipe titel and description -->
            <div class="col-md-6">

              <div class="row">
                <!-- recipe titel -->
                <div class="col-md-12">
                  <label class="form-label mb-0">Recipe Title *</label>
                  <input type="text" name="titel" class="form-control mb-4 rounded-0 border border-dark" required />
                </div>

                <!-- description -->
                <div class="col-md-12">
                  <label class="form-label mb-0">Description *</label>
                  <textarea type="text" name="description" rows="6" class="form-control rounded-0 border border-dark"
                    required></textarea>
                </div>
              </div>

            </div>

            <!-- photo -->
            <div class="col-md-6 ">
              <label class="form-label mb-0">Photo *</label>

              <div class="">
                <div class="">
                  <label for="upload-img" class="">
                    <img src="{% static 'images/recipe-add-photo.png_433-hash'%}" alt="Recipe Photo" class="imginputbox"
                      id="input-img">
                  </label>
                  <input type="file" accept="image/jpeg , image/jpg , image/png" id="upload-img" class=""
                    name="recipe_photo" style="display: none;" required>
                </div>
              </div>
            </div>

            <div class="d-flex mt-3 gap-3">
              <label for=""> <strong> Recipe Video </strong>: (option)</label>
              <input type="file" name="recipe_video">
            </div>

          </div>
          <hr>

          <!-- ingredients sections -->
          <h6 class="fw-bold">Ingredients</h6>
          <p class="" style="color: rgba(0,0,0,.65); font-size: 14px;">
            Enter one ingredient per line. Include the quantity (i.e. cups, tablespoons) and any special preparation
            (i.e. sifted, softened, chopped). Use optional headers to organize the different parts of the recipe (i.e.
            Cake, Frosting, Dressing).</p>
          <p style="color: rgba(0,0,0,.65); font-size: 12px;">Enter ingredients below </p>

          <!-- <div class="row">
              <div class="col-md-11 col-11 mb-3">
                <input type="email" id="form3Example3" class="form-control rounded-0 border border-dark" />
              </div>
              <div class="col-md-1 col-1 p-0">
                <a href=""><i class="fa-solid fa-xmark"></i></a>
              </div>
            </div> -->

          <div class="inputfield" id="row">
            <input type="text" id="ingre-1" name="ingre-1"
              class="form-control rounded-0 border border-dark input_field1" placeholder="Add Ingrediants" required />
            <a href="" id="DeleteRow"><i class="fa-solid fa-xmark text-dark "></i></a>
          </div>


          <div id="newinput"></div>
          <input type="hidden" name="js_inputCounter" id="js_inputCounter" value="2" />
          <div class="">
            <button id="rowAdder" type="button" class="btn btn-outline-danger rounded-0 fw-bold"><i
                class="fa-solid fa-plus"></i>
              ADD
              INGREDIANTS</button>
          </div>

          <!-- end ingretiant section -->

          <hr>


          <!-- direction section -->
          <h6 class="fw-bold">Directions</h6>
          <p style="color: rgba(0,0,0,.65); font-size: 14px;">Explain how to make your recipe, including oven
            temperatures, baking or
            cooking times, and pan sizes, etc.
            Use optional headers to organize the different parts of the recipe (i.e. Prep, Bake, Decorate).</p>
          <p style="color: rgba(0,0,0,.65); font-size: 12px;">Enter directions below </p>

          <div class="inputfield" id="row">
            <textarea type="text" name="step-1" class="form-control rounded-0 border border-dark input_field1"
              placeholder="Add Step"></textarea>
            <a href="" id="DeleteRow"><i class="fa-solid fa-xmark text-dark"></i></a>
          </div>


          <div id="newinputstep"></div>
          <input type="hidden" name="js_inputCounter_step" id="js_inputCounter_step" value="2" required />
          <div class="">
            <button id="textareaAdder" type="button" class="btn btn-outline-danger rounded-0 fw-bold"><i
                class="fa-solid fa-plus"></i>
              ADD
              STEP</button>
          </div>

          <!-- end ingrediant section -->
          <hr>

          <div class="d-flex align-items-center gap-3 mb-3">
            <label for="">
              <h6 class="fw-bold">Servings</h6>
            </label>
            <input id="" type="number" name="Servings" min="0" placeholder="0"
              style="height: 40px; width: 60px; margin-left: 125px; padding: 10px;" required />
          </div>

          <div class="d-flex align-items-center gap-3 mb-3">
            <label for="">
              <h6 class="fw-bold">Meals</h6>
            </label>
            <select id="" name="meals" style="height: 40px; width: 200px; padding: 10px; margin-left: 145px;" required>
              <option value="Breakfast">Breakfast</option>
              <option value="Main Course">Main Course</option>
              <option value="Side Dish">Side Dish</option>
              <option value="Snacks">Snacks</option>
              <option value="Desserts">Desserts</option>
            </select>
          </div>

          <div class="d-flex align-items-center gap-3">
            <label for="">
              <h6 class="fw-bold">Prep time </h6>
            </label>
            <input id="" type="number" name="prep_time" min="0" placeholder="0"
              style="height: 40px; width: 60px; margin-left: 115px; padding: 10px;" required>

            <select id="" name="prep_time_unit" style="height: 40px; width: 200px; padding: 10px;" required>
              <option value="min">mins</option>
              <option value="hours">hours</option>
            </select>
          </div>

          <hr>

          <div class="d-flex justify-content-end gap-2">
            <button type="reset" class=" btn text-danger rounded-0 fw-bold">CANCEL</button>

            <button type="submit" class="btn btn-danger rounded-0 fw-bold">
              Submit Recipe</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- load alerts message -->
      {% include 'includes/alerts.html'%}
    </div>
  </div>
</div>

{% endblock %}