{% extends 'base.html' %}

{% load static%}

{% block content %}

<div class="container-fluid p-0">
    <div class="container py-5">
        <div class="card mx-auto rounded-0 bg-light" style="width: 48rem;">
            <div class="card-body bg-light" style="border: 1px solid #89878883;">
                <div class="row">

                    <!-- recipe titel and description -->
                    <div class="col-md-6">

                        <div class="row">
                            <!-- recipe titel -->
                            {% for recipe_data in data %}
                            <div class="col-md-12">
                                <h1 style="width: 430px;"><b>{{recipe_data.title}}</b></h1>
                            </div>


                            <!-- description -->
                            <div class="col-md-12 mt-3">
                                <p>{{recipe_data.description}}</p>
                            </div>

                            <div class="col-md-12 mt-3">
                                <p>Servings - {{recipe_data.Servings}} Person</p>
                            </div>

                        </div>

                    </div>

                    <!-- photo -->
                    <div class="col-md-6 ">
                        <img src="{{recipe_data.photo.url}}" alt=""
                            style="width: 270px; height: 280px; margin-bottom: 20px; margin-left: 70px; margin-top: 10px;">
                    </div>
                    <hr>

                    <!-- ingredients sections -->
                    <h3 class="fw-bold">Ingredients</h3>

                    <div style="margin-top: 15px;">
                        <ul>
                            {% for ingredient in ingredient_data %}
                            <li>
                                <p style="font-size: 15px;">{{ ingredient }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <!-- end ingretiant section -->

                    <hr>

                    <!-- direction section -->
                    <h3 class="fw-bold">Directions</h3>

                    <div style=" margin-top: 15px;">
                        <ul>
                            {% for step in step_data %}
                            <li>
                                <p style="font-size: 15px;">{{ step }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- end ingrediant section -->
                    <hr>

                    <div class="d-flex">
                        <div
                            style="border-right: 2px solid rgba(128, 128, 128, 0.485); margin-bottom: 15px; padding-right: 30px; padding-top: 15px">
                            <h6 class="fw-bold">Cook time</h6>
                            <div class="d-flex">
                                <p class="align-items-center">{{recipe_data.prep_time}}</p>
                                <p class="align-items-center">{{recipe_data.prep_time_unit}}</p>
                            </div>
                        </div>
                        <div style=" margin-bottom: 15px; padding-right: 30px; margin-left: 30px; padding-top: 15px;">
                            <h6 class="fw-bold">Course</h6>
                            <div class="d-flex">
                                <p class="align-items-center">{{recipe_data.meals}}</p>
                            </div>
                        </div>
                    </div>


                    <hr>

                    <div class="d-flex justify-content-end gap-2">
                        <a href="" class="buttons1">UPDATE</a>
                        <a href="{% url 'delete_recipe' recipe_data.pk%}" class="buttons2">DELETE</a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}