{% extends 'base.html'%}

{% load static %}

{% block content %}

<section class="background-radial-gradient overflow-hidden "
    style="background: url('{% static 'images/log_reg_background.jpg' %}')">


    <!-- main section -->
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start ">
        <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%); font-size: 4rem;">
                    The Best Recipe <br />
                    <span style="color: hsl(218, 81%, 75%)">For You</span>
                </h1>
                <!-- <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Temporibus, expedita iusto veniam atque, magni tempora mollitia
                    dolorum consequatur nulla, neque debitis eos reprehenderit quasi
                    ab ipsum nisi dolorem modi. Quos?
                </p> -->
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 position-relative" style="width: 36rem; margin-left: 45px;">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                <div class="card"
                    style="background-color: #413d3d33; backdrop-filter: blur(3px); border: 1px solid  hsl(218, 81%, 95%);">
                    <div class="card-body px-4 py-5 px-md-5">

                        <form action="{% url 'registerUser'%}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3 class="text-center text-white mb-4">Register</h3>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <!-- <h2 class="text-center text-white mb-4 link-underline">Register</h2> -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{form.first_name}}
                                        <label class="form-label text-white" for="form3Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{form.last_name}}
                                        <label class="form-label text-white" for="form3Example2">Last name</label>
                                    </div>
                                </div>
                            </div>

                            <!-- username input -->
                            <div class="form-outline mb-4">
                                {{form.username}}
                                <label class="form-label text-white" for="form3Example3">Username</label>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                {{form.email}}
                                <label class="form-label text-white" for="form3Example3">Email address</label>
                            </div>

                            <!-- Password input -->
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{form.password}}
                                        <label class="form-label text-white" for="form3Example1">Password</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        {{form.confirm_password}}
                                        <label class="form-label text-white" for="form3Example2">Confirm
                                            Password</label>
                                    </div>
                                </div>
                            </div>



                            <!-- Checkbox -->
                            <!-- <div class="form-check d-flex justify-content-center mb-4">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
              <label class="form-check-label text-white" for="form2Example33">
                Subscribe to our newsletter
              </label>
            </div> -->
                            <ul class="errorlist nonfield"
                                style="color: white; background: red; font-weight: bold; font-size: medium;">
                                {% for field in form %}
                                {% if form.errors %}
                                {% for errror in field.errors %}
                                <li style="list-style: none;">{{errror}}</li>
                                {% endfor %}
                                {% endif %}

                                {% endfor %}
                                <li style="list-style: none;">{{form.non_field_errors}}</li>
                            </ul>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-3 text-white px-4">
                                Submit
                            </button>

                            <div class="text-center dont-have text-white">Already have an account? <a
                                    href="{% url 'loginUser' %}" style="color: hsl(0, 0%, 98%)">Login</a></div>
                            <hr style="color:white;" >

                            <!-- Register buttons -->
                            <!-- <div class="text-center text-white">
                                <p>or sign up with:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div> -->

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- load alerts message -->
            {% include 'includes/alerts.html'%}
        </div>
    </div>
</section>

{% endblock %}