{% extends 'base.html'%}

{% load static %}

{% block content %}

{% if data %}
<div class="container-fluid d-flex justify-content-center gap-3 flex-wrap mt-5">
    {% for recipe_data in data %}
    <div class="card" style="max-width: 730px; height: 251px;">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="{% url 'recipePage' recipe_data.pk %}" class="nav-link"><img src="{{recipe_data.photo.url}}"
                        style="width: 230px; height: 248px;  margin-left: 1px; margin-top: 0.5px;"
                        alt="Recipe Photo"></a>
            </div>
            <div class="col-md-8">

                <div class="card-body">
                    <a href="{% url 'recipePage' recipe_data.pk %}" class="nav-link">
                        <h4 class="card-title"><u>{{recipe_data.title}}</u></h4>
                    </a>
                    <p class="card-text mt-3" style="font-size:15px; color: rgba(74, 74, 74, 0.837);">{{recipe_data.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% else %}

<div style="height: 600px;"><h5 class="d-flex justify-content-center mt-3">You Have Not Entered A Recipe !!!</h5></div>

{% endif %}

{% endblock %}