{% load static %}
<div class="container-fluid transparent  bg-white" id="meals" style="border-bottom: 1px solid rgba(91, 91, 91, 0.395);">
    <div class="container">
        <nav class="navbar navbar-expand-md d-flex">
            <div class="container mt-2">

                <h5> <a href="#" class="text-dark list-group-item fs-2"><img src="{% static 'images/website_logo.png'%}" style="width: 230px; height: 65px;" alt=""></a></h5>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h4><a href="#" class="text-dark list-group-item">Taste Of Home</a></h4>
                        <button type="button" class="btn-close align-items-center" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

        

                    <div class="offcanvas-body justify-content-end align-items-center">
                        <ul class="navbar-nav justify-content-center align-items-center fs-6">
                            <li class="nav-item ">
                                <a class="nav-link text-dark" href="{% url 'home'%}" style="padding-right: 15px;">Home</a>
                            </li>

                            <!-- <li class="nav-item left_side_border" style="padding: 8px;">
                                <div class="dropdown">
                                    <div class="dropbtn" style="padding-left: 8px; padding-right: 8px;">Meals</div>
                                    <div class="dropdown-content">
                                        <a href="#">Breakfast</a>
                                        <a href="#">Main Course</a>
                                        <a href="#">Side Dish</a>
                                        <a href="#">Snacks</a>
                                        <a href="#">Desserts</a>
                                    </div>
                                </div>
                            </li> -->

                            <li class="nav-item left_side_border">
                                <a class="nav-link text-dark" href="{% url 'contact_us'%}">Contact Us</a>
                            </li>

                            <li class="nav-item left_side_border">
                                <a class="nav-link text-dark" href="{% url 'about_us'%}" style="border-right: 2px solid rgba(92, 91, 91, 0.347)">About Us</a>
                            </li>
                            

                            


                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Catagory
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li> -->
                        </ul>
                        
                        
                        
                        <div class="ms-3" id="google_translate_element"></div>
                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <div class="dropbtn"><i class="fa-solid fa-user user_icon ms-3" style="color: #febf57;"></i></div>
                            
                            
                            
                            <div class="dropdown-content">
                                <a href="{% url 'userProfile' %}">My profile</a>
                                <a href="{% url 'yourRecipe' %}">Your recipe</a>
                                <a href="{% url 'addRecipe' %}">Add recipe</a>
                                <a href="{% url 'logoutUser'%}" class="text-danger fw-bold">Logout</a>
                            </div>
                        </div>

                        
                        {% else %}
                        <div class="login-option d-flex ms-5">
                            <a class="cs-color cs-popup-joinus-btn login-popup text-dark nav-link"
                                href="{% url 'loginUser'%}"> <strong> Login /</strong> </a>
                            <span><a href="{% url 'registerUser' %}"
                                    class="cs-color cs-popup-joinus-btn login-popup text-dark nav-link"><strong>Register</strong></a></span>
                        </div>
                        {% endif %}
                    </div>


                </div>

            </div>
            <!-- </nav> -->
    </div>

    </nav>
</div>