{% extends 'base.html'%}


{% block content %}
<h2 style="text-align: center; margin-top: 20px;"><b>About us</b></h2>
<hr style="width: 500px; margin-left: 515px; font-weight: bold;">
<p style="text-align: center; margin-top: 20px;">The main goal of our recipe sharing platform is to provide a platform for food enthusiasts to share their culinary creations and connect with others who share their passion for cooking.</p>
<p style="text-align: center; margin-bottom: 499px;"> Here, users can share their recipes for various dishes, ranging from simple everyday meals to elaborate gourmet creations.</p>
{% endblock %}