{% extends 'base.html'%}

{% load static %}

{% block content %}

<form class="form1" action="" method="post">
    
    <h3 style="margin-left: 20px;">Grains and Pulses:</h3>
    <div class="lt1">
    <input class="deep" type="checkbox" name="meals" id="meal1" value="recipe">
    <label class="labal1" for="meal1">Recipe</label>
    <input type="checkbox" name="meals" id="meal2" value="recipe">
    <label class="labal1" for="meal2">Recipe</label>
    <input type="checkbox" name="meals" id="meal3" value="recipe">
    <label class="labal1" for="meal3">Recipe</label>
    <input type="checkbox" name="meals" id="meal4" value="recipe">
    <label class="labal1" for="meal4">Recipe</label>
    <input type="checkbox" name="meals" id="meal5" value="recipe">
    <label class="labal1" for="meal5">Recipe</label><br>
    <input type="checkbox" name="meals" id="meal6" value="recipe">
    <label class="labal1" for="meal6">Recipe</label>
</div>

<h1 style="margin-left: 20px;">checkbox2</h1>
<div class="lt1">
    
    <input type="checkbox" name="meals" id="meal7" value="recipe">
    <label class="labal1" for="meal7">Recipe</label>
    <input type="checkbox" name="meals" id="meal8" value="recipe">
    <label class="labal1" for="meal8">Recipe</label>
    <input type="checkbox" name="meals" id="meal9" value="recipe">
    <label class="labal1" for="meal9">Recipe</label>
    <input type="checkbox" name="meals" id="meal10" value="recipe">
    <label class="labal1" for="meal10">Recipe</label>
    <input type="checkbox" name="meals" id="meal11" value="recipe">
    <label class="labal1" for="meal5">Recipe</label><br>
    <input type="checkbox" name="meals" id="meal12" value="recipe">
    <label class="labal1" for="meal5">Recipe</label>
</div>

<h1 style="margin-left: 20px;">checkbox3</h1>
<div class="lt1">
    <input class="deep" type="checkbox" name="meals" id="meal13" value="recipe">
    <label class="labal1" for="meal13">Recipe</label>
    <input type="checkbox" name="meals" id="meal14" value="recipe">
    <label class="labal1" for="meal14">Recipe</label>
    <input type="checkbox" name="meals" id="meal15" value="recipe">
    <label class="labal1" for="meal15">Recipe</label>
    <input type="checkbox" name="meals" id="meal16" value="recipe">
    <label class="labal1" for="meal16">Recipe</label>
    <input type="checkbox" name="meals" id="meal17" value="recipe">
    <label class="labal1" for="meal17">Recipe</label><br>
    <input type="checkbox" name="meals" id="meal18" value="recipe">
    <label class="labal1" for="meal18">Recipe</label>
</div>
<button type="submit" class="w-100 pt-1 pb-1">search</button>
</form>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- load alerts message -->
        {% include 'includes/alerts.html'%}
    </div>
</div>

{% endblock %}