{% extends 'base.html'%}

{% load static %}

{% block content %}

<div class="container">
    <form action="">
        
        <input type="checkbox" name="mels" />
        <label for="">potato</label>

        <input type="checkbox" name="mels" />
        <label for="">potato</label>
        
    </form>
</div>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- load alerts message -->
        {% include 'includes/alerts.html'%}
    </div>
</div>

{% endblock %}