{% extends 'base.html'%}

{% load static %}

{% block content %}

<div class="backimg" style="height: 41rem; background-image: url('{% static 'images/background_hero_section.jpg' %}');">
    <!-- <h1 class="text-white pb-3">Search Your Favourite Recipe</h1> -->
    <div class="box">
        <form action="{% url 'srcRecipe'%}" method="POST" class="searchbar">
            {% csrf_token %}
            <input type="text" name="search_recipe_id" id="search_recipe_id" class="input1" placeholder="Search your favourite food"
                style="color: black;"/>
            <i class="fas fa-search searchicon"></i>

            <select id="search-type" name="search_type">
                <option value="All Types" selected>All Types</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Main Course">Main Course</option>
                <option value="Side Dish">Side Dish</option>
                <option value="Snacks">Snacks</option>
                <option value="Desserts">Desserts</option>
            </select>

            <button class="srcbutton bg-white"><a href="{% url 'formSearch'%}" class="nav-link bg-white">Search by form</a></button>
            <button type="submit" class="srcbutton bg-white">Search</button>
        </form>


    </div>
</div>



<!-- card section -->
<div class="container mt-4">
    <h4 style="text-align: center; margin-bottom: 50px; font-size: 35px;">Latest Recipe <i class="fa-solid fa-arrow-right" style="color: #febf57;"></i></h4>
    <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for recipe_data in latest_recipes %}
            <div class="">
                <div class="card" style="min-height: 470px; width: 350px;">
                    <div class="username d-flex border-bottom">
                        <img src="{{ recipe_data.user.profile_picture.url }}" alt="" class="userphoto ms-2 my-1"
                            style="height: 30px; width: 30px; border-radius: 50%;">
                        <h6 class="mt-2 ms-2">{{ recipe_data.user.username }}</h6>
                    </div>
                    <div class="zoom-img">
                        <a href="{% url 'homePageRecipe' recipe_data.pk %}">
                            <img src="{{ recipe_data.photo.url }}" alt="cardphoto1"
                                style="height: 249px; width: 349px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'homePageRecipe' recipe_data.pk %}" class="nav-link">
                            <h3 class="card-text">{{ recipe_data.title }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- load alerts message -->
        {% include 'includes/alerts.html'%}
    </div>
</div>

{% endblock %}